@forward "animations";

.has-display-heading-font-size,
.has-display-heading-large-font-size {
  text-wrap: balance;
}

.has-thunder-font-family {
  line-height: 0.80em;
  padding-top: 0.05em;
}

.wp-site-blocks:after {
  content: '';
  pointer-events: none;
  opacity: .03;
  background-image: url("../images/grain.gif");
  background-position: 0 0;
  background-size: auto;
  position: fixed;
  inset: 0;
}

