@forward "animations";
@forward "typography";
@forward "layout/header";

.wp-site-blocks:after {
  content: '';
  pointer-events: none;
  opacity: .03;
  background-image: url("../images/grain.gif");
  background-position: 0 0;
  background-size: auto;
  position: fixed;
  inset: 0;
}

.icon {
  color: currentColor;
  width: 1em;
  height: 1em;
  display: block;
}

.hero {
  height: 100vh;
  height: 100dvh;
  position: relative;
  display: grid;
  align-items: center;

  > .wp-block-columns {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}